# general external requirements
click
Sphinx
coverage
awscli
flake8
pylint
python-dotenv>=0.5.1

# project-specific external requirements
dash
dash-renderer
dash-html-components
dash-core-components
jupyter
numpy
pandas
plotly
